{
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "plugins": ["react", "prettier"],
  "settings": {
    "react": {
      "version": "latest"
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "overrides": [
    {
      "files": [".ts", ".tsx"],
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "plugins": ["@typescript-eslint"]
    }
  ],
  "ignorePatterns": ["*.svg", "*.png", "*.jpg"],
  "rules": {
    "react/prop-types": 0
  }
}
