{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "extends": [
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier", "react", "@typescript-eslint"],
  "rules": {
    "@typescript-eslint/comma-dangle": [
      "error",
      {
        "arrays": "only-multiline",
        "objects": "only-multiline",
        "imports": "only-multiline",
        "exports": "only-multiline",
        "functions": "never"
      }
    ],
    "import/prefer-default-export": "off",
    "react/prop-types": "off",
    "react/jsx-one-expression-per-line": "off"
  },
  "ignorePatterns": ["*.svg", "*.png", "*.jpg"]
}
